h1{
    color :rgba(255, 0, 55, 0.986);
}
p{
    color :#FF5151;
    font-weight : bold;
    font-size: 22px ;
}
/* *{
    border : solid;
} */
.header{
    background-color: aqua;
    display : flex ; 
    justify-content: space-between;
}
.grid{
    background-color: #FFBF86;
    display: flex ;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    display: flex;
    justify-content: flex-end;
}
.description{
    text-align: center;
}
body{
    background-color:  #FFBF86;
    margin : 0 ;
}